
{% extends 'base.html' %}
{% load static %}

{% block title %} My App{% endblock title%}
{% block style %}
<link rel="stylesheet" href="{% static 'myApp/css/style.css'%}">

{% endblock style %}

{% block navbar %}
{{block.super}}
<ul>
  <li><a href="{% url 'myAppAbout' %}" class="btn btn-info">AboutUs myApp</a></li>
</ul>
{% endblock navbar %}
{% block content %}

<h1>Hello Friends How are you all? I am From My APP index</h1>

<i class="fa-solid fa-address-book"></i>

<i class="fa-brands fa-free-code-camp"></i>
<i class="fa-brands fa-facebook-messenger"></i>
<i class="fa-regular fa-face-grin-beam"></i>
  {% endblock content %}
