{% load static %}

<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=My+Soul&family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'core/css/core.css'%}">