
<h1 class='p-2 font-weight-bold display-1' style="font-family: 'Ms Madi', cursive;">Hello,</h1>
<div class='px-4 lead' style="text-align:justify;line-height:2rem;font-family:'Lobster',cursive;letter-spacing:1px;">
    <p class="p-2" style=" text-indent:100px;"> 
        My Name is <span class='text-capitalize text-warning'><em>abishek neupane.</em></span> 
        I am 15 years old web developer from nepal. I am very enthuastic learner . I know a lot of backend languages like 
        <span class='text-uppercase text-info'>.net , python , java , php.</span>
    </p>
    <p class="font-weight-bold">
        I have passed out my BLE from <span class='text-capitalize text-primary'>takshasheela Academy </span> and I want to become software developer in technology field.
        I have done many work in the field of IT at this stage also. I also have knowledege of frontend and backend. 

    </p>
    <p class=''> <em>  <span class="text-capitalize"> ipsa harum facere, provident cum. </em></span> Voluptate ducimus consequatur culpa impedit
        nihil nam officiis pariatur nulla, expedita rem quo aliquam molestias nesciunt. Eveniet impedit 
        repellendus recusandae iure, cumque harum quasi ipsum ratione quae nemo tempora
        exercitationem repellat amet explicabo quia, omnis ex.
        Atque aliquid distinctio ut sit consequatur esse nulla quidem vero similique ea, est animi maxime omnis corporis ad ipsum.
    </p>
</div>
