    <div class="row text-center">
        <div class="col-md-4 p-5">
            <div class='text-center'>
                <i class="fa-brands fa-android text-info fa-2x"></i>
                <h2 class="mt-1">Android</h2>
            </div>
            <div class="" style="text-align:justify;">
                <p style="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Nam provident asperiores reprehenderit, ea incidunt inventore at aliquid consectetur earum porro.
                </p>
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class='text-center' >
                <i class="fa-solid fa-database fa-2x text-info"></i>
                <h2 class="mt-1">Database</h2>
            </div>
            <div class="" style="text-align:justify;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Nam provident asperiores reprehenderit, ea incidunt inventore at aliquid consectetur earum porro.
                </p>
            </div>
            
        </div>
        <div class="col-md-4 p-5">
            <div class='text-center'>
            <i class="fa-solid fa-palette fa-2x text-info"></i>
            <h2 class="mt-1">Front End</h2>
            </div>
            <div class="" style="text-align:justify;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Nam provident asperiores reprehenderit, ea incidunt inventore at aliquid consectetur earum porro.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4 p-5">
                <div class='text-center'>
                <i class="fa-brands fa-python fa-2x text-info"></i>
                <h2 class="mt-1">Back end</h2>
                </div>
                <div class="" style="text-align:justify;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nam provident asperiores reprehenderit, ea incidunt inventore at aliquid consectetur earum porro.
                    </p>
                </div>
            </div>
            <div class="col-md-4 p-5">
                <div class='text-center'>
                <i class="fa-solid fa-network-wired fa-2x text-info"></i>
                <h2 class="mt-1">Networking</h2>
                </div>
                <div class="" style="text-align:justify;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nam provident asperiores reprehenderit, ea incidunt inventore at aliquid consectetur earum porro.
                    </p>
                </div>
            </div>
        
            <div class="col-md-4 p-5">
                <div class='text-center'>
                <i class="fa-solid fa-toolbox fa-2x text-info"></i>
                <h2 class="mt-1">Reparing</h2>
                </div>
                <div class="" style="text-align:justify;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nam provident asperiores reprehenderit, ea incidunt inventore at aliquid consectetur earum porro.
                    </p>
                </div>
            </div>
    </div>
    <div class='row'>
        <div class="col-md-4 p-5">
            <div class='text-center'>
            <i class="fa-solid fa-gamepad fa-2x text-info"></i>
            <h2 class="mt-1">Game Developing</h2>
            </div>
            <div class="" style="text-align:justify;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Nam provident asperiores reprehenderit, ea incidunt inventore at aliquid consectetur earum porro.
                </p>
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class='text-center'>
            <i class="fa-solid fa-video fa-2x text-info"></i>
            <h2 class="mt-1">Video Editing</h2>
            </div>
            <div class="" style="text-align:justify;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Nam provident asperiores reprehenderit, ea incidunt inventore at aliquid consectetur earum porro.
                </p>
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class='text-center'>
            <i class="fa-solid fa-rectangle-ad fa-2x text-info"></i>
            <h2 class="mt-1">Advertising</h2>
            </div>
            <div class="" style="text-align:justify;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Nam provident asperiores reprehenderit, ea incidunt inventore at aliquid consectetur earum porro.
                </p>
            </div>
        </div>
    </div>

